<hgroup>
	
	<h1>Add new item</h1>
	
</hgroup>

<div>
	
	<form name="test">

		<label>Item name

			<input type="text"
				   name="input"
				   ng-model="name">

		</label>

		<button type="button"
			ng-click="addItem(name);">Add Item</button>

	</form>

	<div>

		<p style="margin-bottom: 1em; font-weight: 700; font-family: Source Sans Pro Bold;">{{ section.nav }}</p>
		
		<db-item items="items"
				 section="section"></db-item>

	</div>
	
	<div>
		
		<p style="margin-bottom: 1em; font-weight: 700; font-family: Source Sans Pro Bold;">uploads</p>

		<db-item items="files"
				 section="section"></db-item>
		
	</div>
	
</div>

<file-upload></file-upload>