<hgroup>
	
	<h1>Edit</h1>
    <p>Select one to edit properties.</p>
	
</hgroup>

<nav>
    
    <a ng-repeat="table in tables"
       ui-sref="app.edit({ table: table.name })"
       ng-click="editTable(table.id);">{{ table.name }}</a>
    
</nav>

<form name="edit">
    
    <label ng-repeat="field in fields">{{ field.label }}

        <input type="text"
               name="{{ field.label }}"
               ng-model="field.value"
               ng-readonly="field.readonly">

    </label>

    <button type="button">Submit</button>

</form>