<main ng-class="{ open: isOpen }">
			
	<header>
		
		<!-- GRAPHIC -->
		<svg vBox="{{ '0,0,' + homeWidth + ',' + homeHeight }}"
             class="home-image"
             ng-if="poster !== null">

			<!--<image data-ng-if="homeFile == 'raster' || homeFile == 'video' "
				   data-ng-height="{{ homeHeight }}"
				   data-ng-width="{{ homeWidth }}"
				   xlink:href="{{ 'assets/' + homeImg }}"></image>

			<use data-ng-if="homeType == 'image' && homeFile == 'vector' "
				 xlink:href="{{ 'assets/' + homeImg }}"></use>

			<rect data-ng-if="homeType == 'palette' "
				  data-ng-repeat="swatch in homeSwatches"
				  data-ng-x="0"
				  data-ng-y="{{ (homeHeight / homeSwatches.length) * $index }}"
				  data-ng-width="{{ homeWidth }}"
				  data-ng-height="{{ homeHeight / homeSwatches.length }}"
				  fill="{{ 'rgb(' + swatch.r + ',' + swatch.g + ',' + swatch.b + ')' }}"/>

			<use data-ng-if="homeType == 'icon' && homeFile == 'vector' "
				 xlink:href="{{ 'assets/' + homeImg }}"></use>

			<use data-ng-if="homeType == 'logo' && homeFile == 'vector' "
				 xlink:href="{{ 'assets/' + homeImg }}"
				 class="{{ 'logo ' + homeTitle + ' full-color' }}"></use>-->

		</svg>
		
		<hgroup>
			
			<!-- TITLE -->
			<h1>
				<a ng-click="close();">{{ title | capitalize }}</a>
			</h1>

			<!-- DESCRIPTION -->
			<h2>{{ description }}</h2>
			
		</hgroup>
		
		<nav>

            <!-- NAVIGATION -->
			<section ng-repeat="section in nav">
				
				<!-- SUBHEAD -->
				<a ui-sref="app.section({ section: section.nav })">{{ section.nav }}</a>
				
				<!-- GROUP -->
				<ul>
				
					<!-- ITEM -->
					<li ng-repeat="item in section.items">
						
						<a ui-sref="app.stack({ nav: section.nav, stack: section.type == 'stack' ? beautyEncode(item.name) : item.id })"
                           ng-click="getIdx($index);"
                           ng-class="section.type == 'stack' ? 'stack' : 'item'"
				   data-ng-mouseover="changeInfo($index, 'categories')">{{ item.name }}</a>
						
					</li>
				
				</ul>
				
			</section>

		</nav>
		
		<!-- CLOSE BUTTON -->
		<svg viewBox="0 0 100 99.2"
			 class="icon"
			 ng-click="close();">
			<use xlink:href="assets/icons/close.svg#artwork"></use>
		</svg>
				
	</header>
    
    <!-- ONLY FOR DEV -->
    <!--<button type="button"
            ng-click="addNav('swatch', true, 'swatches', 'Swatches are individual colors.');"
            style="z-index:99999; position: absolute;">add table</button>
    
    <button type="button"
            ng-click="editNav(12,'specification', true, 'specifications', 'Specifications are autonamed by an item, can not be brand specific, and should not need a visual example.');"
            style="z-index:99999; position: absolute; right: 0">edit table</button>-->

	<!-- CONTENT -->
	<section ui-view></section>

</main>