<!-- NAV ARROWS -->
<div class="arrows">
	
	<a class="icon previous"
       ui-sref="app.stack({ nav: section, stack: prevStack })"
	   ng-click="next();">
		<svg viewBox="0 0 100 58.5">
			<use xlink:href="assets/icons/arrow-line-2.svg#artwork"></use>
		</svg>
	</a>

	<a class="icon next"
       ui-sref="app.stack({ nav: section, stack: nextStack })"
	   ng-click="previous();">
		<svg viewBox="0 0 100 58.5">
			<use xlink:href="assets/icons/arrow-line-2.svg#artwork"></use>
		</svg>
	</a>
	
</div>

<!-- CONTENT -->
<content-slider viz-data="stack"></content-slider>