<!-- UPDATE -->
<!--<div class="item item-divider">Update</div>-->

<!-- THEME -->
<!--<div class="item menu-item">
    
    <span>Theme</span>
    <span class="theme-change"
          ng-click="$parent.$parent.changeTheme(content.theme.opposite);">{{ content.theme.opposite }}</span>

</div>-->

<!-- WORKSPACES -->
<!--<div class="item item-divider">Explore</div>-->

<!--<div ng-repeat="workspace in content.workspaces"
          class="item menu-item"
          ng-class="{ 'active': content.workspaceParam == workspace.url_name }"
          ng-click="changeWorkspace(workspace.id, workspace.url_name, workspace.default_panel, workspace.persona_id, workspace.default_vis);">{{ workspace.name }}</div>-->

<header>
    
    <!-- PANEL NAV -->
    <vertical-nav nav-items="content.panels"></vertical-nav>
    
    <!-- CLOSE HEADER -->
    <a class="close" ng-click="$parent.$parent.closePanel();">
        <i class="ion-close-round"></i>
    </a>

</header>