@charset "UTF-8";
/* CSS Document */

/*************************************** horizontal-slide-nav directive STYLE ***************************************/

/* horizontal slide nav directive specific styling. */

/* !IMPORTS
/* !GLOBAL
/* !CUSTOM
/* --- !horizontal slide nav


/******************************* !IMPORTS *******************************/

/******************************* !GLOBALS *******************************/

/******************************* !CUSTOM *******************************/

/**********************************/
/***** !horizontal slide nav ******/
/**********************************/

/* nav wrap */
horizontal-slide-nav nav {
	
	display: inline-flex;
	padding-left: 1em;
    padding-right: 1em;
	
}

/* varying sizes for panel count */
horizontal-slide-nav nav.items-1 {
	
	width: 125px;
	
}

horizontal-slide-nav nav.items-2 {
	
	width: 250px;
	
}

horizontal-slide-nav nav.items-3 {
	
	width: 375px;
	
}

horizontal-slide-nav nav.items-4 {
	
	width: 525px;
	
}

horizontal-slide-nav nav.items-5 {
	
	width: 675px;
	
}

/* nav item */
horizontal-slide-nav a {
	
    display: inline-block;
	padding-left: 1em;
    padding-right: 1em;
	position: relative;
	text-align: center;
    text-transform: capitalize;
	
}

/* navigation link underline */
horizontal-slide-nav a.active:after{
	
	background: currentColor;
	bottom: -8px;
	content: '';
	height: 16px;
	left: 0;
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	width: 100%;
	
}