@charset "UTF-8";
/* CSS Document */

/*************************************** horizontal-slide-nav directive STYLE ***************************************/

/* horizontal slide nav directive specific styling. */

/* !IMPORTS
/* !GLOBAL
/* !CUSTOM
/* --- !horizontal slide nav


/******************************* !IMPORTS *******************************/

/******************************* !GLOBALS *******************************/

/******************************* !CUSTOM *******************************/

/**********************************/
/***** !horizontal slide nav ******/
/**********************************/

/* nav wrap */
horizontal-slide-nav nav {
	
	display: inline-flex;
	padding: 1em;
    padding-top: 0.3em;
	
}

/* varying sizes for panel count */
horizontal-slide-nav nav.items-1 {
	
	width: 125px;
	
}

horizontal-slide-nav nav.items-2 {
	
	width: 250px;
	
}

horizontal-slide-nav nav.items-3 {
	
	width: 375px;
	
}

horizontal-slide-nav nav.items-4 {
	
	width: 525px;
	
}

horizontal-slide-nav nav.items-5 {
	
	width: 675px;
	
}

/* nav item */
horizontal-slide-nav a {
	
    display: inline-block;
	padding: 1em;
	position: relative;
	text-align: center;
    text-transform: capitalize;
	
}

/* navigation link underline */
horizontal-slide-nav a:last-child::after{
	
	background: currentColor;
	bottom: 0;
	content: '';
	height: 3px;
	left: 0;
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	width: 100%;
	
}

/* line position */
horizontal-slide-nav nav.items-1 a:first-child.active ~ a:last-child::after,
horizontal-slide-nav nav.items-2 a:first-child.active ~ a:last-child::after,
horizontal-slide-nav nav.items-3 a:nth-child(2).active ~ a:last-child::after {
    
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
    
}

horizontal-slide-nav nav.items-3 a:first-child.active ~ a:last-child::after {
    
	-webkit-transform: translate3d(-200%,0,0);
	transform: translate3d(-200%,0,0);
    
}

horizontal-slide-nav nav.items-4 a:first-child.active ~ a:last-child::after {
    
	-webkit-transform: translate3d(-375%,0,0);
	transform: translate3d(-375%,0,0);
    
}

horizontal-slide-nav nav.items-4 a:nth-child(2).active ~ a:last-child::after {
    
	-webkit-transform: translate3d(-250%,0,0);
	transform: translate3d(-250%,0,0);
    
}

horizontal-slide-nav nav.items-4 a:nth-child(3).active ~ a:last-child::after {
    
	-webkit-transform: translate3d(-115%,0,0);
	transform: translate3d(-115%,0,0);
    
}