@charset "UTF-8";
/* CSS Document */

/*************************************** styleguide STYLE ***************************************/

/* Styleguide directive specific styling. */

/* !IMPORTS
/* !GLOBALS
/* !SECTIONS
/* !CUSTOM
/* --- !radial tree
/* --- !dendrogram
/* --- !content slider

/******************************* !IMPORTS *******************************/
@import url("main.css");
@import url("light.css");

/******************************* !GLOBALS *******************************/

/******************************* !SECTIONS *******************************/

/******************************* !CUSTOM *******************************/

/********************************/
/********* !radial tree *********/
/********************************/

radial-tree .link {
    
    fill: none;
    
}

radial-tree text {
    
    font-size: 0.7em;
    
}

/*******************************/
/********* !dendrogram *********/
/*******************************/

dendrogram .link {
    
    fill: none;
    stroke: #9f9f9f;
    
}

dendrogram text {
    
    font-size: 0.7em;
    
}

/***********************************/
/********* !content slider *********/
/***********************************/

/* wrap */
.slider {
    
    height: 825px;
    margin-bottom: 3em;
    margin-top: 2em;
	overflow: hidden;
    position: relative;
    width: 100%;
	
}

/* arrow set */
.arrows {
	
	align-items: center;
	display: flex;
	position: absolute;
	right: 1em;
	top: 1em;
	
}

.previous,
.next {
	
	height: 1.5em;
	opacity: 0.5;
	
}

/* previous arrow */
.previous {
        
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    
    
}

/* next arrow */
.next {
        
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    
}

.previous:hover,
.next:hover {
	
	opacity: 1;
	
}



/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

.nav {
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    left: 0;
    bottom: 5em;
    right: 0;
    height: 48px;
}

.nonDraggableImage{
    -webkit-user-drag: none;
}

.nav .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

.nav ul {
    margin: 0;
    width: 100%;
}

.nav .dot, .nav .dot a {
    display: inline-block;
}

.dots .dot {
    position: relative;
    margin: 0 8px;
    width: 12px;
    height: 12px;
}

.dots .dot a {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 0.75em;
    height: 0.75em;
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
    background: rgb(212,212,212);
    border: 1px solid currentColor;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot a.active {
    border-color: currentColor;
    background-color: rgb(35,34,34);
}