@charset "UTF-8";
/* CSS Document */

/*************************************** styleguide STYLE ***************************************/

/* Styleguide directive specific styling. */

/* !IMPORTS
/* !GLOBALS
/* !SECTIONS
/* !CUSTOM
/* --- !radial tree
/* --- !dendrogram
/* --- !content slider
/* --- !db item

/******************************* !IMPORTS *******************************/
@import url("main.css");
@import url("light.css");

/******************************* !GLOBALS *******************************/

/******************************* !SECTIONS *******************************/

/******************************* !CUSTOM *******************************/

/********************************/
/********* !radial tree *********/
/********************************/

radial-tree .link {
    
    fill: none;
    
}

radial-tree text {
    
    font-size: 0.5em;
	text-anchor: middle;
    
}

/*******************************/
/********* !dendrogram *********/
/*******************************/

dendrogram .link {
    
    fill: none;
    stroke: #9f9f9f;
    
}

dendrogram text {
    
    font-size: 0.7em;
    
}

/***********************************/
/********* !content slider *********/
/***********************************/

/* wrap */
.slider {
    
    height: 825px;
    margin-bottom: 3em;
    margin-top: 2em;
	overflow: hidden;
    position: relative;
    width: 100%;
	
}

/* arrow set */
.arrows {
	
	align-items: center;
	display: flex;
	position: absolute;
	right: 1em;
	top: 1em;
    z-index: 9999;
	
}

.previous,
.next {
	
	height: 1.5em;
	opacity: 0.5;
	
}

/* previous arrow */
.previous {
        
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    
    
}

/* next arrow */
.next {
        
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    
}

.previous:hover,
.next:hover {
	
	opacity: 1;
	
}

/****************************/
/********* !db item *********/
/****************************/

db-item ul,
db-item li {
	
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	
}